@media(max-width:450px) {
    /* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: lightgray;
}

/* Стили для заголовка */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

header .time {
    font-size: 25px;
    color: red;
}

header .header_number {
    color: green;
    font-size: 15px;
}

/* Стили для контента */
div {
    text-align: center;
}

div .total {
    font-size: 40px;
    color: gray;
    margin-bottom: 50px;
    margin-top: 50px;
}

div ul {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    padding: 0px 15px;
    width: 90%;
    height: 40px;
    border-radius: 50px;
    column-gap: 50px;
    /* cursor: pointer; */
    text-decoration: none;
}

div ul p {
    font-size: 10px;
    color: white;
    cursor: pointer;

}

/* Стили для ссылок */


.link {
    display: block;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 20px auto 0;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #007bff;
    background-color: #fff;
    border: 2px solid #007bff;
    border-radius: 10px;
    transition: 0.3s;
}

.link:hover {
    color: #fff;
    background-color: #007bff;
}



section {
    display: block;
    align-items: center;
    justify-content: center;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15%;
}


footer .account {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

footer .account .links a{
    /* column-gap: 50px; */
    margin-right: 20px;
}

footer .account img {
    width: 25px;
    height: 25px;
    transition: 1s;
}
/* footer .account img:hover{
    width: 45px;
    height: 45px;
    transition: 1s;
} */

footer .account h2 {
    cursor: pointer;
    font-size: 15px;
}

footer .account a{
    color: black;
    /* text-decoration: none; */
    /* transition: 1s; */
}
/* footer .account a:hover {
    font-size: 17px;
    transition: 1s;
} */

}