/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: lightgray;
}

/* Стили для заголовка */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

header .time {
    font-size: 50px;
    color: red;
}

header .header_number {
    color: green;
    font-size: 30px;
}

/* Стили для контента */
div {
    text-align: center;
}

div .total {
    font-size: 40px;
    color: gray;
    margin-bottom: 50px;
}

div ul {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    padding: 0px 35px;
    height: 70px;
    border-radius: 50px;
    column-gap: 100px;
    cursor: pointer;
}

div ul p {
    font-size: 35px;
    color: white;
}

/* Стили для ссылок */
.link {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #007bff;
    background-color: #fff;
    border: 2px solid #007bff;
    border-radius: 5px;
    transition: color 0.3s, background-color 0.3s;
}

.link:hover {
    color: #fff;
    background-color: #007bff;
}

/* Медиа-запросы для мобильных устройств */
@media only screen and (max-width: 600px) {
    header {
        position: relative; /* Позиционируем заголовок относительно родительского элемента */
        text-align: center; /* Выравниваем текст по центру */
    }

    header .time {
        font-size: 30px; /* Уменьшаем размер шрифта времени */
    }

    header .header_number {
        font-size: 20px; /* Уменьшаем размер шрифта номера */
    }

    div .total {
        font-size: 30px; /* Уменьшаем размер шрифта для общего числа */
    }
}
